{% extends "theme.html" %}

{% block content %}

<h2 align="center">Release new applications</h2>
	<br>
	<form method="POST" action=" {% url '发布页面' %} " align="center" enctype="multipart/form-data">
		{% csrf_token %}
		Application Name：
			<br>
		<input type="text" name="APP名称">
			<br>
			<br>
		Description：
			<br>
		<textarea cols="100" rows="10" name="介绍"></textarea>>
			<br>
			<br>
		Application Link:
			<br>
		<input type="text" name="APP链接">
			<br>
			<br>
		Application Icon(Thumbnail):
		<input type="file" name="APP图标">
			<br>
			<br>
		　　　　　　　Big Diagram:
		<input type="file" name="大图">
			<br>
			<br>
		<input class="btn btn-primary" type="submit" name="发布">
	</form>

{% endblock content %}